body {
    background-color: rgb(19, 18, 18);
    color: white;
}
a {
    color: rgb(180, 61, 180);
}
h1 {
    color: rgb(32, 56, 192);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}
#nome {
    color: blueviolet;
    font-family: 'Trebuchet MS';
    font-size: 25px;
}
