body {
    background-color: rgb(19, 18, 18);
    color: white;
}
a {
    color: rgb(180, 61, 180);
}
h1 {
    color: rgb(32, 56, 192);
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
   
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
#cid {
    color: rgb(186, 214, 240);
}
#esc {
    color: rgb(186, 214, 240);
}
#leg {
    text-align-last: left;
    position: absolute;
}
#pontos {
    position: absolute;
    bottom: 300px;
    left: 350px;
    background-color: black;
}
#img {
    background-color: black;
}